<div class="p-2 text-light d-flex justify-content-between bank-name">
  <div class="ps-2">
    <h1>Bank Ui - {{data.title}}</h1>
    <ng-container>
      hello this is angular course
    </ng-container>

  </div>
  <img src="assets/images/logo.png" alt="logo" class="logo" loading="lazy" (click)="onLogoClicked()">
</div>
<div class="container-fluid">
  <div class=""row mt-2>
    <div class="col-md-4 col-12">
      <app-bank-card (viewCourseEvent)="onCardClicked($event)" [course]="beginnerCourses"></app-bank-card>
      <app-bank-card (viewCourseEvent)="onCardClicked($event)" [course]="rxjsCourses"></app-bank-card>
      <app-bank-card (viewCourseEvent)="onCardClicked($event)" [course]="ngrxCourses"></app-bank-card>

    </div>
  </div>

</div>
