<div class="p-2 text-light d-flex justify-content-between bank-name">
  <div class="ps-2">
    <h1>Bank Ui - {{data.title}}</h1>
    <ng-container>
      hello this is angular course
    </ng-container>

  </div>
  <img src="assets/images/logo.png" alt="logo" class="logo" loading="lazy" (click)="onLogoClicked()">
</div>
<div class="container-fluid">
  <div class=""row mt-2>
    <div class="row">
      <!-- <<ng-container>
        <div class="col-md-4 col-12" *ngFor="let course of courses">
          <app-bank-card [course]="course" (viewCourseEvent)="onCardClicked($event)"></app-bank-card>
        </div>


      </ng-container> -->
      @for (course of courses; track trackCourse; let index = $index; let count= $count;
        let first = $first; let last = $last; let even = $even; let odd = $odd) {
          Courses Count: {{count}}
        <div class="col-md-4 col-12">
          <app-bank-card [course]="course" [index]="index"
            [class.first-course]="first"
            [class.last-course]="last"
            [class.even-course]="even"
            [class.odd-course]="odd"
            (viewCourseEvent)="onCardClicked($event)"></app-bank-card>
        </div>
      }



    </div>
  </div>

</div>
