/* You can add global styles to this file, and also import other style files */
.even-course{
  .course-card{
    background-color: lightgray;
  }
}

.odd-course{
  .course-card{
    background-color: lightcyan;
  }
}

.first-course{
  .course-card{
    background-color: 5px solid #000;
  }
}

.last-course{
  .course-card{
    background-color: 5px solid #000;
  }
}
